p,
li {
    font-size: 18px;
    line-height: 1.5;
}

i {
    background-color: yellow;
}

ul {
    list-style-type: circle;
}

li {
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: coral;
}

a:hover {
    color: deepskyblue;
    font-weight: bold;
}

header, footer {
    margin: 10px;
}